{% autoescape off %}
Bonjour {{ user.get_full_name|default:user.username }},

Vous avez demandé la réinitialisation de votre mot de passe sur Don Sang Plus.

Pour créer un nouveau mot de passe, cliquez sur le lien ci-dessous :

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ce lien est valable pendant 24 heures.

Si vous n'avez pas fait cette demande, veuillez ignorer cet email. Votre mot de passe restera inchangé.

Cordialement,
L'équipe Don Sang Plus
{% endautoescape %}
